﻿html,
body,
.grid__item,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
.contact-form-mandatory-info,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}
html {
    line-height: 1
}
ol,
ul {
    list-style: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}
q,
blockquote {
    quotes: none
}
q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none
}
a img {
    border: none
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}
* {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: none
}
html,
body,
.grid__item {
    position: relative;
    height: 100%;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Source Sans Pro', sans-serif, Arial;
    color: #000
}
html.no-scrolling,
body.no-scrolling,
.no-scrolling.grid__item {
    overflow: hidden
}
@media screen and (max-width: 560px) {
    html,
    body,
    .grid__item {
        font-size: 14px;
        line-height: 22px
    }
}
p {
    position: relative;
    margin-bottom: 15px
}
p a {
    color: #000;
    text-decoration: underline
}
a {
    text-decoration: none;
    color: inherit
}
strong,
b {
    font-weight: 600
}
em {
    font-style: italic
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}
sup {
    top: -0.5em
}
sub {
    bottom: -0.25em
}
ul,
ol {
    display: block;
    list-style-type: disc;
    /*margin-top: 16px;
    margin-bottom: 16px;*/
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px
}
ol {
    list-style-type: decimal
}
picture {
    display: block
}
img,
iframe {
    max-width: 100%;
    max-height: 100%
}
video {
    width: 100%
}
input[type="text"],
input[type="email"],
input[type="file"],
textarea,
select {
    width: 100%;
    padding: 10px 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    outline: none;
    font-family: 'Source Sans Pro', sans-serif, Arial;
    font-size: 20px;
    line-height: 26px;
    font-weight: 300;
    color: #000;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="file"]:focus,
textarea:focus,
select:focus {
    border-color: #686868
}
@media screen and (max-width: 800px) {
    input[type="text"],
    input[type="email"],
    input[type="file"],
    textarea,
    select {
        font-size: 16px;
        line-height: 22px
    }
}
@media screen and (max-width: 560px) {
    input[type="text"],
    input[type="email"],
    input[type="file"],
    textarea,
    select {
        font-size: 14px;
        line-height: 20px
    }
}
select {
    background-size: 8px;
    background-position: right 10px center
}
label,
.contact-form-mandatory-info {
    display: inline-block;
    vertical-align: top;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    padding-bottom: 3px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000
}
@media screen and (max-width: 560px) {
    label,
    .contact-form-mandatory-info {
        font-size: 10px;
        line-height: 16px
    }
}
.contact-form-container .contact-form-radio-type input[type="radio"] {
    display: none
}

label input[type="radio"]+span,
input[type="radio"]+label span,
input[type="radio"]+.contact-form-mandatory-info span {
    display: inline-block;
    width: 23px;
    height: 18px;
    vertical-align: middle;
    background: url("../images/sprite-radio.png") top no-repeat;
    background-position: 0 0;
    cursor: pointer;
    margin: 0 10px 2px 0;
	text-align: right;
}

label input[type="radio"]:checked+span,
input[type="radio"]:checked+label span,
input[type="radio"]:checked+.contact-form-mandatory-info span {
    background: url("../images/sprite-radio.png") top no-repeat;
    background-position: 0 -68px
}




input[type="radio"]+label,
input[type="radio"]+.contact-form-mandatory-info {
    padding-right: 15px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 300;
    text-transform: none
}
@media screen and (max-width: 800px) {
    input[type="radio"]+label,
    input[type="radio"]+.contact-form-mandatory-info {
        font-size: 16px;
        line-height: 22px
    }
}
@media screen and (max-width: 560px) {
    input[type="radio"]+label,
    input[type="radio"]+.contact-form-mandatory-info {
        font-size: 14px;
        line-height: 20px
    }
}
.va-outer {
    position: relative;
    display: table;
    height: 100%;
    width: 100%
}
.va-middle {
    display: table-cell;
    vertical-align: middle
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table
}
.clearfix:after {
    clear: both
}
.clearfix {
    *zoom: 1
}
.headline {
    display: block;
    position: relative;
    font-size: 72px;
    line-height: 80px;
    font-weight: 600;
    text-transform: uppercase
}
@media screen and (max-width: 1024px) {
    .headline {
        font-size: 58px;
        line-height: 66px
    }
}
@media screen and (max-width: 800px) {
    .headline {
        font-size: 50px;
        line-height: 58px
    }
}
@media screen and (max-width: 560px) {
    .headline {
        font-size: 28px;
        line-height: 34px
    }
}
.headline-second {
    display: block;
    position: relative;
    margin-bottom: 10px;
    font-size: 48px;
    line-height: 60px;
    font-weight: 600
}
@media screen and (max-width: 1024px) {
    .headline-second {
        font-size: 48px;
        line-height: 58px
    }
}
@media screen and (max-width: 800px) {
    .headline-second {
        font-size: 34px;
        line-height: 40px
    }
}
@media screen and (max-width: 560px) {
    .headline-second {
        font-size: 20px;
        line-height: 26px
    }
}
.headline-second-special {
    display: block;
    position: relative;
    margin-bottom: 5px;
    font-size: 64px;
    line-height: 80px;
    font-weight: 700
}
@media screen and (max-width: 1024px) {
    .headline-second-special {
        font-size: 50px;
        line-height: 58px
    }
}
@media screen and (max-width: 800px) {
    .headline-second-special {
        font-size: 38px;
        line-height: 46px
    }
}
@media screen and (max-width: 560px) {
    .headline-second-special {
        font-size: 30px;
        line-height: 38px
    }
}
.headline-third {
    display: block;
    position: relative;
    margin-bottom: 10px;
    font-size: 48px;
    line-height: 60px;
    font-weight: 600
}
@media screen and (max-width: 1024px) {
    .headline-third {
        font-size: 38px;
        line-height: 50px
    }
}
@media screen and (max-width: 800px) {
    .headline-third {
        font-size: 30px;
        line-height: 42px
    }
}
@media screen and (max-width: 560px) {
    .headline-third {
        font-size: 20px;
        line-height: 32px
    }
}
.headline-fourth {
    display: block;
    position: relative;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600
}
@media screen and (max-width: 1024px) {
    .headline-fourth {
        margin-bottom: 16px;
        font-size: 20px;
        line-height: 26px
    }
}
@media screen and (max-width: 800px) {
    .headline-fourth {
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 24px
    }
}
@media screen and (max-width: 560px) {
    .headline-fourth {
        margin-bottom: 6px;
        font-size: 16px;
        line-height: 22px
    }
}
.clickable {
    cursor: pointer
}
.is-hidden {
    display: none
}
.main-wrapper {
    position: relative;
    max-width: 2400px;
    margin: 0 auto
}
.max-width {
    position: relative;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px
}
.max-width.small-container {
    max-width: 700px
}
.text-align-right {
    text-align: right
}
.title-seperator {
    display: block;
    padding-bottom: 20px;
    font-size: 0;
    line-height: 0
}
.title-seperator .seperator {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 50px;
    height: 4px;
    background-color: #DE0000
}
.ajax-spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center
}
.btn {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    min-width: 140px;
    margin: 15px 0 0 0;
    padding: 10px 15px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #DE0000;
    border: 2px solid #DE0000;
    border-radius: 5px;
    outline: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    -moz-transition: all, .3s;
    -o-transition: all, .3s;
    -webkit-transition: all, .3s;
    transition: all, .3s
}
.btn:hover {
    color: #fff;
    background-color: #DE0000
}
.btn.btn-full-width {
    width: 100%
}
.btn.is-white {
    color: #DE0000;
    background-color: #fff
}
.btn.is-white:hover {
    color: #fff;
    background-color: #DE0000
}
@media screen and (max-width: 560px) {
    .btn {
        padding: 6px 8px;
        font-size: 12px;
        line-height: 18px
    }
}
.flag-icon {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline
}
.flag-icon.at {
    background: url(../images/sprite-flags.png) no-repeat top left;
    background-size: 24px 412px;
    background-position: 0 0;
    width: 24px;
    height: 18px
}
.flag-icon.de {
    background: url(../images/sprite-flags.png) no-repeat top left;
    background-size: 24px 412px;
    background-position: 0 -132px;
    width: 24px;
    height: 18px
}
.flag-icon.ch {
    background: url(../images/sprite-flags.png) no-repeat top left;
    background-size: 24px 412px;
    background-position: 0 -66px;
    width: 24px;
    height: 18px
}
.flag-icon.it {
    background: url(../images/sprite-flags.png) no-repeat top left;
    background-size: 24px 412px;
    background-position: 0 -198px;
    width: 24px;
    height: 18px
}
.flag-icon.eu {
    background: url(../images/sprite-flags.png) no-repeat top left;
    background-size: 24px 412px;
    background-position: 0 -264px;
    width: 24px;
    height: 18px
}
.flag-icon.uk {
    background: url(../images/sprite-flags.png) no-repeat top left;
    background-size: 24px 412px;
    background-position: 0 -330px;
    width: 24px;
    height: 18px
}

.flag-icon.en {
    background: url(../images/sprite-flags.png) no-repeat top left;
    background-size: 24px 412px;
    background-position: 0 -330px;
    width: 24px;
    height: 18px
}

.flag-icon.fr {
    background: url(../images/sprite-flags.png) no-repeat top left;
    background-size: 24px 412px;
    background-position: 0 -396px;
    width: 24px;
    height: 18px
}
.grid {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -20px
}
.grid__item {
    display: inline-block;
    padding-left: 20px;
    vertical-align: top;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.grid--rev {
    direction: rtl;
    text-align: left
}
.grid--rev>.grid__item {
    direction: ltr;
    text-align: left
}
.grid--full {
    margin-left: 0
}
.grid--full>.grid__item {
    padding-left: 0
}
.grid--right {
    text-align: right
}
.grid--right>.grid__item {
    text-align: left
}
.grid--center {
    text-align: center
}
.grid--center>.grid__item {
    text-align: left
}
.grid--middle>.grid__item {
    vertical-align: middle
}
.grid--bottom>.grid__item {
    vertical-align: bottom
}
.grid--narrow {
    margin-left: -10px
}
.grid--narrow>.grid__item {
    padding-left: 10px
}
.grid--wide {
    margin-left: -40px
}
.grid--wide>.grid__item {
    padding-left: 40px
}
.one-whole {
    width: 100%
}
.one-half,
.two-quarters,
.three-sixths,
.four-eighths,
.five-tenths,
.six-twelfths {
    width: 50%
}
.one-third,
.two-sixths,
.four-twelfths {
    width: 33.333%
}
.two-thirds,
.four-sixths,
.eight-twelfths {
    width: 66.666%
}
.one-quarter,
.two-eighths,
.three-twelfths {
    width: 25%
}
.three-quarters,
.six-eighths,
.nine-twelfths {
    width: 75%
}
.one-fifth,
.two-tenths {
    width: 20%
}
.two-fifths,
.four-tenths {
    width: 40%
}
.three-fifths,
.six-tenths {
    width: 60%
}
.four-fifths,
.eight-tenths {
    width: 80%
}
.one-sixth,
.two-twelfths {
    width: 16.666%
}
.five-sixths,
.ten-twelfths {
    width: 83.333%
}
.one-eighth {
    width: 12.5%
}
.three-eighths {
    width: 37.5%
}
.five-eighths {
    width: 62.5%
}
.seven-eighths {
    width: 87.5%
}
.one-tenth {
    width: 10%
}
.three-tenths {
    width: 30%
}
.seven-tenths {
    width: 70%
}
.nine-tenths {
    width: 90%
}
.one-twelfth {
    width: 8.333%
}
.five-twelfths {
    width: 41.666%
}
.seven-twelfths {
    width: 58.333%
}
.eleven-twelfths {
    width: 91.666%
}
@media only screen and (max-width: 560px) {
    .palm--one-whole {
        width: 100%
    }
    .palm--one-half,
    .palm--two-quarters,
    .palm--three-sixths,
    .palm--four-eighths,
    .palm--five-tenths,
    .palm--six-twelfths {
        width: 50%
    }
    .palm--one-third,
    .palm--two-sixths,
    .palm--four-twelfths {
        width: 33.333%
    }
    .palm--two-thirds,
    .palm--four-sixths,
    .palm--eight-twelfths {
        width: 66.666%
    }
    .palm--one-quarter,
    .palm--two-eighths,
    .palm--three-twelfths {
        width: 25%
    }
    .palm--three-quarters,
    .palm--six-eighths,
    .palm--nine-twelfths {
        width: 75%
    }
    .palm--one-fifth,
    .palm--two-tenths {
        width: 20%
    }
    .palm--two-fifths,
    .palm--four-tenths {
        width: 40%
    }
    .palm--three-fifths,
    .palm--six-tenths {
        width: 60%
    }
    .palm--four-fifths,
    .palm--eight-tenths {
        width: 80%
    }
    .palm--one-sixth,
    .palm--two-twelfths {
        width: 16.666%
    }
    .palm--five-sixths,
    .palm--ten-twelfths {
        width: 83.333%
    }
    .palm--one-eighth {
        width: 12.5%
    }
    .palm--three-eighths {
        width: 37.5%
    }
    .palm--five-eighths {
        width: 62.5%
    }
    .palm--seven-eighths {
        width: 87.5%
    }
    .palm--one-tenth {
        width: 10%
    }
    .palm--three-tenths {
        width: 30%
    }
    .palm--seven-tenths {
        width: 70%
    }
    .palm--nine-tenths {
        width: 90%
    }
    .palm--one-twelfth {
        width: 8.333%
    }
    .palm--five-twelfths {
        width: 41.666%
    }
    .palm--seven-twelfths {
        width: 58.333%
    }
    .palm--eleven-twelfths {
        width: 91.666%
    }
}
@media only screen and (min-width: 561px) and (max-width: 660px) {
    .special--one-whole {
        width: 100%
    }
    .special--one-half,
    .special--two-quarters,
    .special--three-sixths,
    .special--four-eighths,
    .special--five-tenths,
    .special--six-twelfths {
        width: 50%
    }
    .special--one-third,
    .special--two-sixths,
    .special--four-twelfths {
        width: 33.333%
    }
    .special--two-thirds,
    .special--four-sixths,
    .special--eight-twelfths {
        width: 66.666%
    }
    .special--one-quarter,
    .special--two-eighths,
    .special--three-twelfths {
        width: 25%
    }
    .special--three-quarters,
    .special--six-eighths,
    .special--nine-twelfths {
        width: 75%
    }
    .special--one-fifth,
    .special--two-tenths {
        width: 20%
    }
    .special--two-fifths,
    .special--four-tenths {
        width: 40%
    }
    .special--three-fifths,
    .special--six-tenths {
        width: 60%
    }
    .special--four-fifths,
    .special--eight-tenths {
        width: 80%
    }
    .special--one-sixth,
    .special--two-twelfths {
        width: 16.666%
    }
    .special--five-sixths,
    .special--ten-twelfths {
        width: 83.333%
    }
    .special--one-eighth {
        width: 12.5%
    }
    .special--three-eighths {
        width: 37.5%
    }
    .special--five-eighths {
        width: 62.5%
    }
    .special--seven-eighths {
        width: 87.5%
    }
    .special--one-tenth {
        width: 10%
    }
    .special--three-tenths {
        width: 30%
    }
    .special--seven-tenths {
        width: 70%
    }
    .special--nine-tenths {
        width: 90%
    }
    .special--one-twelfth {
        width: 8.333%
    }
    .special--five-twelfths {
        width: 41.666%
    }
    .special--seven-twelfths {
        width: 58.333%
    }
    .special--eleven-twelfths {
        width: 91.666%
    }
}
@media only screen and (min-width: 561px) and (max-width: 800px) {
    .iphoneh--one-whole {
        width: 100%
    }
    .iphoneh--one-half,
    .iphoneh--two-quarters,
    .iphoneh--three-sixths,
    .iphoneh--four-eighths,
    .iphoneh--five-tenths,
    .iphoneh--six-twelfths {
        width: 50%
    }
    .iphoneh--one-third,
    .iphoneh--two-sixths,
    .iphoneh--four-twelfths {
        width: 33.333%
    }
    .iphoneh--two-thirds,
    .iphoneh--four-sixths,
    .iphoneh--eight-twelfths {
        width: 66.666%
    }
    .iphoneh--one-quarter,
    .iphoneh--two-eighths,
    .iphoneh--three-twelfths {
        width: 25%
    }
    .iphoneh--three-quarters,
    .iphoneh--six-eighths,
    .iphoneh--nine-twelfths {
        width: 75%
    }
    .iphoneh--one-fifth,
    .iphoneh--two-tenths {
        width: 20%
    }
    .iphoneh--two-fifths,
    .iphoneh--four-tenths {
        width: 40%
    }
    .iphoneh--three-fifths,
    .iphoneh--six-tenths {
        width: 60%
    }
    .iphoneh--four-fifths,
    .iphoneh--eight-tenths {
        width: 80%
    }
    .iphoneh--one-sixth,
    .iphoneh--two-twelfths {
        width: 16.666%
    }
    .iphoneh--five-sixths,
    .iphoneh--ten-twelfths {
        width: 83.333%
    }
    .iphoneh--one-eighth {
        width: 12.5%
    }
    .iphoneh--three-eighths {
        width: 37.5%
    }
    .iphoneh--five-eighths {
        width: 62.5%
    }
    .iphoneh--seven-eighths {
        width: 87.5%
    }
    .iphoneh--one-tenth {
        width: 10%
    }
    .iphoneh--three-tenths {
        width: 30%
    }
    .iphoneh--seven-tenths {
        width: 70%
    }
    .iphoneh--nine-tenths {
        width: 90%
    }
    .iphoneh--one-twelfth {
        width: 8.333%
    }
    .iphoneh--five-twelfths {
        width: 41.666%
    }
    .iphoneh--seven-twelfths {
        width: 58.333%
    }
    .iphoneh--eleven-twelfths {
        width: 91.666%
    }
}
@media only screen and (min-width: 801px) and (max-width: 1024px) {
    .ipadv--one-whole {
        width: 100%
    }
    .ipadv--one-half,
    .ipadv--two-quarters,
    .ipadv--three-sixths,
    .ipadv--four-eighths,
    .ipadv--five-tenths,
    .ipadv--six-twelfths {
        width: 50%
    }
    .ipadv--one-third,
    .ipadv--two-sixths,
    .ipadv--four-twelfths {
        width: 33.333%
    }
    .ipadv--two-thirds,
    .ipadv--four-sixths,
    .ipadv--eight-twelfths {
        width: 66.666%
    }
    .ipadv--one-quarter,
    .ipadv--two-eighths,
    .ipadv--three-twelfths {
        width: 25%
    }
    .ipadv--three-quarters,
    .ipadv--six-eighths,
    .ipadv--nine-twelfths {
        width: 75%
    }
    .ipadv--one-fifth,
    .ipadv--two-tenths {
        width: 20%
    }
    .ipadv--two-fifths,
    .ipadv--four-tenths {
        width: 40%
    }
    .ipadv--three-fifths,
    .ipadv--six-tenths {
        width: 60%
    }
    .ipadv--four-fifths,
    .ipadv--eight-tenths {
        width: 80%
    }
    .ipadv--one-sixth,
    .ipadv--two-twelfths {
        width: 16.666%
    }
    .ipadv--five-sixths,
    .ipadv--ten-twelfths {
        width: 83.333%
    }
    .ipadv--one-eighth {
        width: 12.5%
    }
    .ipadv--three-eighths {
        width: 37.5%
    }
    .ipadv--five-eighths {
        width: 62.5%
    }
    .ipadv--seven-eighths {
        width: 87.5%
    }
    .ipadv--one-tenth {
        width: 10%
    }
    .ipadv--three-tenths {
        width: 30%
    }
    .ipadv--seven-tenths {
        width: 70%
    }
    .ipadv--nine-tenths {
        width: 90%
    }
    .ipadv--one-twelfth {
        width: 8.333%
    }
    .ipadv--five-twelfths {
        width: 41.666%
    }
    .ipadv--seven-twelfths {
        width: 58.333%
    }
    .ipadv--eleven-twelfths {
        width: 91.666%
    }
}
@media only screen and (max-width: 1024px) {
    .portable--one-whole {
        width: 100%
    }
    .portable--one-half,
    .portable--two-quarters,
    .portable--three-sixths,
    .portable--four-eighths,
    .portable--five-tenths,
    .portable--six-twelfths {
        width: 50%
    }
    .portable--one-third,
    .portable--two-sixths,
    .portable--four-twelfths {
        width: 33.333%
    }
    .portable--two-thirds,
    .portable--four-sixths,
    .portable--eight-twelfths {
        width: 66.666%
    }
    .portable--one-quarter,
    .portable--two-eighths,
    .portable--three-twelfths {
        width: 25%
    }
    .portable--three-quarters,
    .portable--six-eighths,
    .portable--nine-twelfths {
        width: 75%
    }
    .portable--one-fifth,
    .portable--two-tenths {
        width: 20%
    }
    .portable--two-fifths,
    .portable--four-tenths {
        width: 40%
    }
    .portable--three-fifths,
    .portable--six-tenths {
        width: 60%
    }
    .portable--four-fifths,
    .portable--eight-tenths {
        width: 80%
    }
    .portable--one-sixth,
    .portable--two-twelfths {
        width: 16.666%
    }
    .portable--five-sixths,
    .portable--ten-twelfths {
        width: 83.333%
    }
    .portable--one-eighth {
        width: 12.5%
    }
    .portable--three-eighths {
        width: 37.5%
    }
    .portable--five-eighths {
        width: 62.5%
    }
    .portable--seven-eighths {
        width: 87.5%
    }
    .portable--one-tenth {
        width: 10%
    }
    .portable--three-tenths {
        width: 30%
    }
    .portable--seven-tenths {
        width: 70%
    }
    .portable--nine-tenths {
        width: 90%
    }
    .portable--one-twelfth {
        width: 8.333%
    }
    .portable--five-twelfths {
        width: 41.666%
    }
    .portable--seven-twelfths {
        width: 58.333%
    }
    .portable--eleven-twelfths {
        width: 91.666%
    }
}
@media only screen and (min-width: 560px) and (max-width: 1024px) {
    .ipadh--one-whole {
        width: 100%
    }
    .ipadh--one-half,
    .ipadh--two-quarters,
    .ipadh--three-sixths,
    .ipadh--four-eighths,
    .ipadh--five-tenths,
    .ipadh--six-twelfths {
        width: 50%
    }
    .ipadh--one-third,
    .ipadh--two-sixths,
    .ipadh--four-twelfths {
        width: 33.333%
    }
    .ipadh--two-thirds,
    .ipadh--four-sixths,
    .ipadh--eight-twelfths {
        width: 66.666%
    }
    .ipadh--one-quarter,
    .ipadh--two-eighths,
    .ipadh--three-twelfths {
        width: 25%
    }
    .ipadh--three-quarters,
    .ipadh--six-eighths,
    .ipadh--nine-twelfths {
        width: 75%
    }
    .ipadh--one-fifth,
    .ipadh--two-tenths {
        width: 20%
    }
    .ipadh--two-fifths,
    .ipadh--four-tenths {
        width: 40%
    }
    .ipadh--three-fifths,
    .ipadh--six-tenths {
        width: 60%
    }
    .ipadh--four-fifths,
    .ipadh--eight-tenths {
        width: 80%
    }
    .ipadh--one-sixth,
    .ipadh--two-twelfths {
        width: 16.666%
    }
    .ipadh--five-sixths,
    .ipadh--ten-twelfths {
        width: 83.333%
    }
    .ipadh--one-eighth {
        width: 12.5%
    }
    .ipadh--three-eighths {
        width: 37.5%
    }
    .ipadh--five-eighths {
        width: 62.5%
    }
    .ipadh--seven-eighths {
        width: 87.5%
    }
    .ipadh--one-tenth {
        width: 10%
    }
    .ipadh--three-tenths {
        width: 30%
    }
    .ipadh--seven-tenths {
        width: 70%
    }
    .ipadh--nine-tenths {
        width: 90%
    }
    .ipadh--one-twelfth {
        width: 8.333%
    }
    .ipadh--five-twelfths {
        width: 41.666%
    }
    .ipadh--seven-twelfths {
        width: 58.333%
    }
    .ipadh--eleven-twelfths {
        width: 91.666%
    }
}
.grid {
    font-size: 0
}
.grid__item {
    background: transparent !important;
    display: inline-block;
    zoom: 1;
    *display: inline
}
.grid--wide {
    margin-left: -60px
}
.grid--wide>.grid__item {
    padding-left: 60px
}
.lt-ie8 .grid .grid__item {
    padding: 0
}
.lt-ie8 .grid .grid-padding {
    padding-left: 20px
}
.lt-ie8 .grid--full .grid-padding {
    padding: 0
}
.lt-ie8 .grid--wide {
    margin-left: -60px
}
.lt-ie8 .grid--wide .grid-padding {
    padding-left: 60px
}
.lt-ie8 .one-third,
.lt-ie8 .two-sixths,
.lt-ie8 .four-twelfths {
    width: 33.32%
}
.grid--rev {
    zoom: 1
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0
}
.slick-list:focus {
    outline: none
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}
.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block
}
.slick-track:before,
.slick-track:after {
    content: "";
    display: table
}
.slick-track:after {
    clear: both
}
.slick-loading .slick-track {
    visibility: hidden
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none
}
[dir="rtl"] .slick-slide {
    float: right
}
.slick-slide img {
    display: block
}
.slick-slide.slick-loading img {
    display: none
}
.slick-slide.dragging img {
    pointer-events: none
}
.slick-initialized .slick-slide {
    display: block
}
.slick-loading .slick-slide {
    visibility: hidden
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}
.slick-arrow.slick-hidden {
    display: none
}
.slick-loading .slick-list {
    background: #fff url("../images/ajax-loader.gif") center center no-repeat
}
@font-face {
    font-family: "slick";
    src: url("../fonts/slick/slick.eot");
    src: url("../fonts/slick/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick/slick.woff") format("woff"), url("../fonts/slick/slick.ttf") format("truetype"), url("../fonts/slick/slick.svg#slick") format("svg");
    font-weight: normal;
    font-style: normal
}
.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0px;
    font-size: 0px;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: 0;
    border: none;
    outline: none
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: .25
}
.slick-prev:before,
.slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: #fff;
    opacity: .75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.slick-prev {
    left: -25px
}
[dir="rtl"] .slick-prev {
    left: auto;
    right: -25px
}
.slick-prev:before {
    content: "←"
}
[dir="rtl"] .slick-prev:before {
    content: "→"
}
.slick-next {
    right: -25px
}
[dir="rtl"] .slick-next {
    left: -25px;
    right: auto
}
.slick-next:before {
    content: "→"
}
[dir="rtl"] .slick-next:before {
    content: "←"
}
.slick-dotted.slick-slider {
    margin-bottom: 30px
}
.slick-dots {
    position: absolute;
    bottom: -25px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
    width: 100%
}
.slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer
}
.slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    height: 20px;
    width: 20px;
    outline: none;
    line-height: 0px;
    font-size: 0px;
    color: transparent;
    padding: 5px;
    cursor: pointer
}
.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1
}
.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "•";
    width: 20px;
    height: 20px;
    font-family: "slick";
    font-size: 6px;
    line-height: 20px;
    text-align: center;
    color: #000;
    opacity: .25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.slick-dots li.slick-active button:before {
    color: #000;
    opacity: .75
}
.slick-dotted.slick-slider {
    margin-bottom: 0
}
.slick-dots {
    bottom: 30px;
    font-size: 0;
    line-height: 0
}
.slick-dots li {
    width: 12px;
    height: 12px;
    margin: 0 10px
}
.slick-dots li::before {
    content: '';
    width: auto;
    margin: 0
}
.slick-dots li.slick-active button::before {
    background-color: #fff;
    opacity: 1
}
.slick-dots li button {
    width: 12px;
    height: 12px;
    padding: 0
}
.slick-dots li button::before {
    content: '';
    width: 8px;
    height: 8px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: transparent;
    opacity: 1
}
.slick-arrow {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 30px;
    line-height: 30px;
    color: #DE0000;
    z-index: 3;
    cursor: pointer
}
.slider-arrow-next {
    right: 20px
}
.slider-arrow-prev {
    left: 20px
}
@media screen and (max-width: 560px) {
    .slick-dots {
        bottom: -23px;
		z-index: 9999999;
    }
}
body:after,
.grid__item:after {
    content: url(../images/lightbox2/close.png) url(../images/lightbox2/loading.gif) url(../images/lightbox2/prev.png) url(../images/lightbox2/next.png);
    display: none
}
body.lb-disable-scrolling,
.lb-disable-scrolling.grid__item {
    overflow: hidden
}
.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    display: none
}
.lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10000;
    text-align: center;
    line-height: 0;
    font-weight: normal
}
.lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    max-height: none;
    border-radius: 3px;
    border: 4px solid white
}
.lightbox a img {
    border: none
}
.lb-outerContainer {
    position: relative;
    *zoom: 1;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: white
}
.lb-outerContainer:after {
    content: "";
    display: table;
    clear: both
}
.lb-loader {
    position: absolute;
    top: 43%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0
}
.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(../images/lightbox2/loading.gif) no-repeat
}
.lb-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10
}
.lb-container>.nav {
    left: 0
}
.lb-nav a {
    outline: none;
    background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==")
}
.lb-prev,
.lb-next {
    height: 100%;
    cursor: pointer;
    display: block
}
.lb-nav a.lb-prev {
    width: 34%;
    left: 0;
    float: left;
    background: url(../images/lightbox2/prev.png) left 48% no-repeat;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s
}
.lb-nav a.lb-prev:hover {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1
}
.lb-nav a.lb-next {
    width: 64%;
    right: 0;
    float: right;
    background: url(../images/lightbox2/next.png) right 48% no-repeat;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    -moz-transition: opacity 0.6s;
    -o-transition: opacity 0.6s;
    transition: opacity 0.6s
}
.lb-nav a.lb-next:hover {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1
}
.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    *zoom: 1;
    width: 100%;
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px
}
.lb-dataContainer:after {
    content: "";
    display: table;
    clear: both
}
.lb-data {
    padding: 0 4px;
    color: #ccc
}
.lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em
}
.lb-data .lb-caption {
    font-size: 13px;
    font-weight: bold;
    line-height: 1em
}
.lb-data .lb-caption a {
    color: #4ae
}
.lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999999
}
.lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url(../images/lightbox2/close.png) top right no-repeat;
    text-align: right;
    outline: none;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    transition: opacity 0.2s
}
.lb-data .lb-close:hover {
    cursor: pointer;
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1
}
.lightbox {
    position: fixed;
    top: 50% !important;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}
.lb-dataContainer {
    display: block !important;
    min-height: 51px
}
.hamburger {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    position: relative;
    overflow: hidden;
    margin: 0 0 0 20px;
    padding: 0;
    width: 30px;
    height: 30px;
    font-size: 0;
    text-indent: -9999px;
    -moz-appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    border-radius: 0;
    border: none;
    background-color: transparent;
    cursor: pointer
}
.hamburger:focus {
    outline: none
}
.hamburger.is-active .hamburger-stripe {
    background: none
}
.hamburger.is-active .hamburger-stripe::before,
.hamburger.is-active .hamburger-stripe::after {
    -moz-transition-delay: 0s, 0.3s;
    -o-transition-delay: 0s, 0.3s;
    -webkit-transition-delay: 0s, 0.3s;
    transition-delay: 0s, 0.3s
}
.hamburger.is-active .hamburger-stripe::before {
    top: 0;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}
.hamburger.is-active .hamburger-stripe::after {
    bottom: 0;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}
.hamburger-stripe {
    display: block;
    position: absolute;
    top: 14px;
    left: 0;
    right: 0;
    height: 3px;
    background: #000;
    -moz-transition: background 0s .3s;
    -o-transition: background 0s .3s;
    -webkit-transition: background 0s;
    -webkit-transition-delay: .3s;
    transition: background 0s .3s
}
.hamburger-stripe::before,
.hamburger-stripe::after {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #000;
    content: "";
    -moz-transition-duration: 0.3s, 0.3s;
    -o-transition-duration: 0.3s, 0.3s;
    -webkit-transition-duration: 0.3s, 0.3s;
    transition-duration: 0.3s, 0.3s;
    -moz-transition-delay: 0.3s, 0s;
    -o-transition-delay: 0.3s, 0s;
    -webkit-transition-delay: 0.3s, 0s;
    transition-delay: 0.3s, 0s
}
.hamburger-stripe::before {
    top: -9px;
    -moz-transition-property: top, -moz-transform;
    -o-transition-property: top, -o-transform;
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, transform
}
.hamburger-stripe::after {
    bottom: -9px;
    -moz-transition-property: bottom, -moz-transform;
    -o-transition-property: bottom, -o-transform;
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 5;
    font-size: 0;
    line-height: 0;
    background-color: transparent;
    -moz-transition: background .25s;
    -o-transition: background .25s;
    -webkit-transition: background .25s;
    transition: background .25s
}
.header.fixed-header {
    position: fixed;
    top: -120px;
    background-color: #fff;
    -moz-box-shadow: 0 0 12px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 12px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 12px 5px rgba(0, 0, 0, 0.1)
}
.header.opened-menu {
    background-color: #fff
}
.header-inner {
    position: relative;
    max-width: 2400px;
    margin: 0 auto;
    padding: 34px 60px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
.logo-container {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 20%
}
.header-logo {
    max-width: 120px
}
.anchor-container {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 60%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}
.anchor-item {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    margin-right: 6%;
    font-size: 16px;
    line-height: 20px
}
.anchor-item:last-child {
    margin-right: 0
}
.location-chooser {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 20%;
    text-align: right
}
.location-chooser .choose-location {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline
}
.location-chooser .select-text {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    padding-right: 10px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    text-transform: uppercase
}
.location-chooser .location-icon {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline
}
.location-chooser-container {
    display: none;
    position: relative;
    padding: 30px 0;
    background-color: #757575;
    color: #fff
}
.location-chooser-container::after {
    content: ' ';
    position: absolute;
    top: 100%;
    right: 62px;
    width: 0;
    height: 0;
    border: 11px solid transparent;
    border-top-color: #757575;
    pointer-events: none
}
.location-chooser-container .text-alignment {
    text-align: center
}
.location-chooser-title {
    margin-bottom: 30px;
    font-size: 26px;
    line-height: 32px;
    text-align: center
}
.location-chooser-item {
    color: #fff;
    white-space: nowrap
}
.location-chooser-item .select-text {
    padding-left: 5px;
    font-size: 14px;
    line-height: 20px
}
.mobile-menu {
    display: none;
    width: 10%;
    text-align: right
}
@media screen and (max-width: 1024px) {
    .header-inner {
        padding: 28px 20px
    }
    .logo-container {
        width: 30%
    }
    .anchor-container {
        display: none;
        position: absolute;
        top: 86px;
        left: 0;
        width: 100%;
        padding: 0 20px;
        background: #fff;
        -moz-box-shadow: 0 12px 12px -7px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 12px 12px -7px rgba(0, 0, 0, 0.1);
        box-shadow: 0 12px 12px -7px rgba(0, 0, 0, 0.1)
    }
    .anchor-item {
        display: block;
        margin: 0;
        padding: 20px;
        border-top: 1px solid #D8D8D8
    }
    .location-chooser {
        width: 60%
    }
    .location-chooser-container::after {
        right: 10%;
        margin-right: 17px
    }
    .mobile-menu {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline
    }
}
@media screen and (max-width: 800px) {
    .header-inner {
        padding: 24px 20px
    }
    .logo-container {
        width: 40%
    }
    .anchor-container {
        top: 78px
    }
    .location-chooser {
        width: 47%
    }
    .location-chooser .select-text {
        display: none
    }
    .location-chooser-container::after {
        right: 13%;
        margin-right: 17px
    }
    .location-chooser-container .text-alignment {
        text-align: left
    }
    .location-chooser-item {
        display: inline-block;
        vertical-align: middle;
        *vertical-align: auto;
        *zoom: 1;
        *display: inline;
        padding: 3px 0;
        margin-bottom: 4px
    }
    .mobile-menu {
        width: 13%
    }
}
.footer {
    position: relative;
    padding: 20px 0;
    border-top: 1px solid #D8D8D8;
    text-align: center
}
.footer-list,
.footer-nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0
}
.footer-list li,
.footer-nav-list li {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    font-size: 16px;
    line-height: 22px
}
.footer-list li::after,
.footer-nav-list li::after {
    content: '\2022';
    padding: 0 10px
}
.footer-list li:last-child::after,
.footer-nav-list li:last-child::after {
    content: '';
    padding: 0
}
.footer-list {
    padding: 0 0 10px 0
}
.footer-list li {
    font-weight: 300
}
.footer-list li:first-child {
    font-weight: 400
}
.footer-nav-list a {
    text-decoration: underline
}
@media screen and (max-width: 560px) {
    .footer-list li,
    .footer-nav-list li {
        display: block;
        font-size: 12px;
        line-height: 18px
    }
    .footer-list li:after,
    .footer-nav-list li:after {
        content: '';
        padding: 0
    }
    .footer-nav-list {
        padding: 10px 0 0 0
    }
    .footer-nav-list li {
        padding: 6px
    }
}
.cookie-overlay {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1900
}
.cookie-content {
    max-width: 1180px;
    margin: 0 auto;
    padding: 20px 50px
}
.cookie-message {
    display: inline;
    font-size: 14px;
    line-height: 20px;
    color: #fff
}
.cookie-message a {
    font-weight: 600;
    text-decoration: underline;
    color: #DE0000
}
.cookie-message a:hover,
.cookie-message a:focus {
    color: #DE0000
}
.cookie-accept {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    position: relative;
    min-width: 120px;
    margin: 0 0 0 25px;
    padding: 8px;
    background-color: #fff;
    text-align: center;
    font-size: 15px;
    color: #000;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
    outline: 0;
    cursor: pointer
}
@media screen and (max-width: 1024px) {
    .cookie-content {
        padding: 20px 20px
    }
    .cookie-accept {
        float: right
    }
}
@media screen and (max-width: 560px) {
    .cookie-accept {
        float: none;
        margin: 15px 0 0 0
    }
}
.header-slider-section {
    position: relative
}
.header-slider-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130px;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwLjciLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255, 255, 255, 0.7)), color-stop(100%, rgba(255, 255, 255, 0)));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 1
}
.header-slider {
    position: relative
}
.header-slider-item {
    position: relative;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat
}
.header-slider-item img {
    max-height: none
}
.header-slider-text-container {
    position: absolute;
    bottom: 100px;
    left: 110px;
    width: 54%;
    max-width: 740px;
    padding: 35px 40px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    z-index: 2
}
.header-slider-title {
    padding-bottom: 10px;
    font-size: 36px;
    line-height: 44px;
    font-weight: 600
}
.header-slider-text {
    padding-bottom: 10px;
    font-size: 20px;
    line-height: 32px
}
@media screen and (max-width: 1024px) {
    .header-slider {
        padding-bottom: 30px;
        background-color: rgba(0, 0, 0, 0.6)
    }
    .header-slider-text-container {
        position: relative;
        bottom: auto;
        left: auto;
        width: 100%;
        background-color: transparent;
        padding: 20px 25px
    }
}
@media screen and (max-width: 800px) {
    .header-slider-title {
        font-size: 26px;
        line-height: 34px
    }
    .header-slider-text {
        font-size: 16px;
        line-height: 22px
    }
}
@media screen and (max-width: 560px) {
    .header-slider-text {
        font-size: 14px;
        line-height: 20px
    }
}
.product-item {
    position: relative;
    padding-bottom: 60px
}
.product-item-header {
    position: relative;
    padding: 90px 0 100px 0;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f2f2), color-stop(100%, #ffffff));
    background-image: -moz-linear-gradient(top, #f2f2f2 0%, #ffffff 100%);
    background-image: -webkit-linear-gradient(top, #f2f2f2 0%, #ffffff 100%);
    background-image: linear-gradient(to bottom, #f2f2f2 0%, #ffffff 100%)
}
.product-item-header .product-image-container {
    text-align: center
}
.product-item-header .product-image {
    width: 80%;
    max-width: 420px
}
.product-item-header .product-subtitle {
    padding-bottom: 20px;
    font-size: 36px;
    line-height: 44px;
    font-weight: 300
}
.product-item-header .product-desc-list {
    margin-top: 0;
    padding: 0;
    font-size: 20px;
    line-height: 32px;
    list-style: none
}
.product-item-header .product-desc-list-item::before {
    content: "\e900";
    display: inline-block;
    width: 25px;
    font-family: 'myrobotcenter-font';
    font-size: 16px;
    color: #DE0000
}
.product-item-header .product-price-box {
    display: block;
    padding-bottom: 15px
}
.product-item-header .product-current-price {
    display: inline-block;
    vertical-align: bottom;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
    color: #DE0000
}
.product-item-header .product-old-price {
    display: inline-block;
    vertical-align: bottom;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    padding-left: 24px;
    font-size: 30px;
    line-height: 48px;
    text-decoration: line-through
}
.product-item-header .btn.is-white {
    margin-left: 20px
}
@media screen and (max-width: 1024px) {
    .product-item-header {
        padding-bottom: 80px
    }
    .product-item-header .product-subtitle {
        font-size: 28px;
        line-height: 38px
    }
    .product-item-header .product-desc-list {
        font-size: 18px;
        line-height: 28px
    }
    .product-item-header .product-price-box {
        padding-bottom: 10px
    }
    .product-item-header .product-current-price {
        font-size: 36px;
        line-height: 42px
    }
    .product-item-header .product-old-price {
        padding-left: 16px;
        font-size: 24px;
        line-height: 34px
    }
}
@media screen and (max-width: 800px) {
    .product-item {
        padding-bottom: 40px
    }
    .product-item-header {
        padding: 45px 0 60px 0
    }
    .product-item-header .product-image {
        padding-bottom: 20px
    }
    .product-item-header .product-subtitle {
        font-size: 22px;
        line-height: 30px
    }
    .product-item-header .product-desc-list {
        font-size: 16px;
        line-height: 26px
    }
    .product-item-header .btn {
        float: left
    }
    .product-item-header .btn.is-white {
        float: right;
        margin-left: 5px
    }
}
@media screen and (max-width: 560px) {
    .product-item {
        padding-bottom: 20px
    }
    .product-item-header {
        padding: 20px 0 30px 0
    }
    .product-item-header .product-subtitle {
        font-size: 16px;
        line-height: 22px
    }
    .product-item-header .product-desc-list {
        font-size: 12px;
        line-height: 22px
    }
    .product-item-header .product-price-box {
        padding-bottom: 5px
    }
    .product-item-header .product-current-price {
        display: block;
        font-size: 30px;
        line-height: 38px
    }
    .product-item-header .product-old-price {
        display: block;
        padding-left: 0;
        font-size: 18px;
        line-height: 26px
    }
}
@media screen and (max-width: 400px) {
    .product-item-header .btn {
        display: block;
        float: none
    }
    .product-item-header .btn.is-white {
        float: none;
        margin: 20px 0 0 0
    }
}
.product-gallery {
    position: relative;
    margin: 1px 0;
    border: 1px solid #D8D8D8
}
.product-gallery .slick-dots li.slick-active button::before {
    background-color: #DE0000
}
.product-gallery .slick-dots li button::before {
    border-color: #DE0000
}
.product-gallery-item {
    position: relative;
    border-right: 1px solid #D8D8D8
}
.product-gallery-item:last-child {
    border-right: none
}
.product-gallery-image {
    margin: 0 auto
}
.product-features {
    position: relative;
    padding: 100px 0 50px 0
}
.product-features-top {
    padding-bottom: 40px;
    border-bottom: 1px solid #D8D8D8
}
.product-features-top .btn {
    margin-top: 0
}
.product-features-description {
    font-size: 20px;
    line-height: 32px;
    font-weight: 300
}
.product-features-bottom {
    padding-top: 50px
}
.product-feature-image {
    max-width: 60px;
    width: 100%
}
.product-feature-content {
    max-width: 435px;
    padding: 15px 0 50px 0
}
.product-feature-text {
    font-size: 20px;
    line-height: 32px;
    font-weight: 300
}
@media screen and (max-width: 1024px) {
    .product-features {
        padding: 80px 0 40px 0
    }
    .product-features-description {
        font-size: 18px;
        line-height: 22px
    }
    .product-feature-text {
        font-size: 18px;
        line-height: 28px
    }
}
@media screen and (max-width: 800px) {
    .product-features {
        padding-top: 55px
    }
    .product-features-top .text-align-right {
        margin-top: 15px;
        text-align: left
    }
    .product-features-description {
        font-size: 16px;
        line-height: 22px
    }
    .product-features-bottom {
        padding-top: 40px
    }
    .product-feature-content {
        padding: 10px 0 35px 0
    }
    .product-feature-text {
        font-size: 16px;
        line-height: 22px
    }
}
@media screen and (max-width: 560px) {
    .product-features {
        padding: 30px 0 30px 0
    }
    .product-features-description {
        font-size: 14px;
        line-height: 20px
    }
    .product-features-bottom {
        padding-top: 30px
    }
    .product-feature-content {
        padding: 5px 0 30px 0
    }
    .product-feature-text {
        font-size: 14px;
        line-height: 20px
    }
}
.product-video-container {
    position: relative;
    padding-bottom: 30px
}
.product-video-container .youtube {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    width: 100%;
    height: auto
}
.product-video-container .youtube-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important
}
.product-reviews {
    position: relative;
    background-image: url("../images/reviews/background.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat
}
.product-review-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6)
}
.product-reviews-inner {
    max-width: 600px;
    margin: 0 auto;
    padding: 80px 0;
    color: #fff;
    text-align: center
}
.product-reviews-text {
    font-size: 20px;
    line-height: 32px;
    font-weight: 300;
    padding-bottom: 20px
}
.product-reviews-slider {
    position: relative;
    padding-top: 40px
}
.product-reviews-slider .slick-dots {
    bottom: -60px
}
.product-reviews-item {
    position: relative;
    margin: 0 1px
}
.product-reviews-item .bubble {
    position: relative;
    margin-left: 10px;
    padding: 26px 20px;
    background-color: #fff;
    border-radius: 12px
}
.product-reviews-item .bubble::after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #fff;
    border-width: 10px;
    margin-top: -10px
}
.product-reviews-item .top-container {
    display: block
}
.product-reviews-item .quotation {
    font-size: 22px;
    line-height: 32px;
    color: #DE0000
}
.product-reviews-item .bottom-container {
    display: block
}
.product-reviews-item .user-info {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    padding-right: 20px;
    font-size: 18px;
    line-height: 24px;
    color: #757575
}
.product-reviews-item .rating {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    color: #D8D8D8
}
.product-reviews-item .rating .filled {
    color: #DE0000
}
.product-reviews-item .user-img {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center
}
@media screen and (max-width: 1024px) {
    .product-reviews-text {
        font-size: 18px;
        line-height: 28px
    }
    .product-reviews-slider {
        padding-top: 35px
    }
    .product-reviews-item .quotation {
        font-size: 20px;
        line-height: 30px
    }
    .product-reviews-item .user-info {
        font-size: 16px;
        line-height: 22px
    }
}
@media screen and (max-width: 800px) {
    .product-reviews-inner {
        padding: 50px 0
    }
    .product-reviews-text {
        font-size: 16px;
        line-height: 26px
    }
    .product-reviews-slider {
        padding-top: 25px
    }
    .product-reviews-slider .slick-dots {
        bottom: -40px
    }
    .product-reviews-item .quotation {
        font-size: 18px;
        line-height: 28px
    }
    .product-reviews-item .user-info {
        font-size: 14px;
        line-height: 20px
    }
}
@media screen and (max-width: 660px) {
    .product-reviews-item .bubble {
        margin-bottom: 10px;
        margin-left: 0;
        padding: 26px 20px;
        background-color: #fff;
        border-radius: 12px
    }
    .product-reviews-item .bubble::after {
        right: auto;
        top: 100%;
        left: 50%;
        border-color: transparent;
        border-top-color: #fff;
        margin-top: 0;
        margin-left: -10px
    }
    .product-reviews-item .user-img-container {
        text-align: center
    }
    .product-reviews-item .user-img {
        margin-top: 15px
    }
}
@media screen and (max-width: 560px) {
    .product-reviews-inner {
        padding: 20px 0 50px 0
    }
    .product-reviews-text {
        font-size: 14px;
        line-height: 20px
    }
    .product-reviews-slider {
        padding-top: 15px
    }
    .product-reviews-slider .slick-dots {
        bottom: -40px
    }
    .product-reviews-item .quotation {
        font-size: 14px;
        line-height: 20px
    }
    .product-reviews-item .user-info {
        font-size: 12px;
        line-height: 18px
    }
    .product-reviews-item .user-img {
        width: 60px;
        height: 60px
    }
}
.info-block-section {
    position: relative;
    padding-bottom: 60px
}
.info-block-small-container {
    position: relative;
    max-width: 940px;
    margin: 0 auto;
    text-align: center
}
.info-block-logo {
    max-width: 170px;
    padding-bottom: 40px
}
.info-block-subtitle {
    padding-bottom: 30px;
    font-size: 20px;
    line-height: 32px
}
.info-block-text {
    padding-bottom: 50px;
    font-size: 20px;
    line-height: 32px;
    font-weight: 300
}
.social-block {
    position: relative;
    padding: 20px 0;
    text-align: left
}
.social-title {
    padding-bottom: 20px;
    font-size: 36px;
    line-height: 44px;
    font-weight: 600
}
.social-item {
    display: block;
    margin: 3px 0;
    padding: 3px 0
}
.social-icon {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    width: 34px;
    padding-right: 14px;
    font-size: 34px;
    line-height: 34px
}
.social-icon.facebook {
    color: #3b5998
}
.social-icon.twitter {
    color: #1da1f2
}
.social-icon.youtube {
    color: #cd201f
}
.social-text {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    font-size: 20px;
    line-height: 26px;
    font-weight: 300
}
@media screen and (max-width: 800px) {
    .info-block-subtitle {
        font-size: 16px;
        line-height: 22px
    }
    .info-block-text {
        padding-bottom: 40px;
        font-size: 16px;
        line-height: 22px
    }
    .social-title {
        font-size: 24px;
        line-height: 30px
    }
    .social-text {
        font-size: 16px;
        line-height: 22px
    }
    .info-block-image {
        padding-top: 40px
    }
}
@media screen and (max-width: 560px) {
    .info-block-subtitle {
        font-size: 14px;
        line-height: 20px
    }
    .info-block-text {
        padding-bottom: 30px;
        font-size: 14px;
        line-height: 20px
    }
    .social-title {
        padding-bottom: 10px;
        font-size: 20px;
        line-height: 26px
    }
    .social-text {
        font-size: 14px;
        line-height: 20px
    }
    .social-item {
        padding: 4px 0
    }
    .info-block-image {
        padding-top: 30px
    }
}
.contact-section {
    position: relative;
    padding: 80px 0 100px 0;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f2f2), color-stop(100%, #ffffff));
    background-image: -moz-linear-gradient(top, #f2f2f2 0%, #ffffff 100%);
    background-image: -webkit-linear-gradient(top, #f2f2f2 0%, #ffffff 100%);
    background-image: linear-gradient(to bottom, #f2f2f2 0%, #ffffff 100%)
}
.contact-inner {
    position: relative;
    max-width: 820px;
    margin: 0 auto
}
.contact-inner .headline-second,
.contact-inner .title-seperator {
    text-align: center
}
.contact-text {
    padding-bottom: 30px;
    font-size: 20px;
    line-height: 32px;
    font-weight: 300;
    text-align: center
}
.contact-form-container {
    position: relative
}
.contact-form {
    position: relative;
    padding-top: 20px;
    opacity: 1;
    -moz-transition: all, .2s;
    -o-transition: all, .2s;
    -webkit-transition: all, .2s;
    transition: all, .2s
}
.contact-form .mandatory-mark {
    color: #DE0000
}
.contact-form.dimmed {
    opacity: 0.3
}
.contact-form-item {
    padding-bottom: 0px
}
.contact-city {
    display: none;
    visibility: hidden
}
.contact-form-bottom {
    padding-top: 15px;
    text-align: right
}
.contact-form-bottom .btn {
    margin: 0
}
.contact-form-mandatory-info {
    vertical-align: middle;
    padding: 0 20px 0 0
}
.contact-form-error {
    display: none;
    font-size: 20px;
    line-height: 32px;
    color: #DE0000
}
.contact-form-success {
    display: none;
    font-size: 20px;
    line-height: 32px;
    color: #11B400;
    text-align: center
}
@media screen and (max-width: 800px) {
    .contact-text {
        font-size: 16px;
        line-height: 22px
    }
    .contact-form-error,
    .contact-form-success {
        font-size: 16px;
        line-height: 28px
    }
}
@media screen and (max-width: 560px) {
    .contact-text {
        font-size: 14px;
        line-height: 26px
    }
    .contact-form-bottom {
        font-size: 0;
        line-height: 0;
        text-align: left
    }
    .contact-form-bottom .btn {
        width: 50%
    }
    .contact-form-mandatory-info {
        width: 50%;
        padding: 0;
        text-align: left
    }
}
.service-buttons-section {
    position: relative;
    padding: 60px 0 80px 0
}
.service-buttons-item {
    position: relative;
    text-align: center
}
.service-buttons-item-img {
    display: inline-block;
    vertical-align: top;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    max-width: 100px
}
.service-buttons-item-title {
    display: block;
    padding: 10px 0;
    font-size: 20px;
    line-height: 26px;
    font-weight: 600
}
.service-buttons-item-text {
    display: block;
    font-size: 14px;
    line-height: 20px
}
@media screen and (max-width: 800px) {
    .service-buttons-item-img {
        max-width: 80px
    }
    .service-buttons-item {
        padding-bottom: 20px
    }
}
@media screen and (max-width: 560px) {
    .service-buttons-section {
        padding: 40px 0 60px 0
    }
    .service-buttons-item-img {
        max-width: 60px
    }
    .service-buttons-item-title {
        font-size: 16px;
        line-height: 22px
    }
    .service-buttons-item-text {
        font-size: 12px;
        line-height: 18px
    }
}
/*# sourceMappingURL=style.css.map */


.contact-form-container .mandatory-mark {
    color: #DE0000;
}


.contact-form-container  input[type="radio"] {
    display: inline-block;
}




span.wpcf7-list-item  label{
	
	font-size: 20px;
    font-weight: 300;
    text-transform: none;
	text-align:right;
}